{% extends 'base.html.twig' %}

 {% block title %}{{ page.title }}{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('styles/cornel-vaideanu/index.css') }}">
 {% endblock %}

 {% block body %}  
    <div class="content-wrap">
        <h1>{{ page.title }}</h1>
        <div class=""><a href="{{ path('app_vaideanu_cornel_dynamic_page_edit') }}">Edit Page</a></div>
        <img src="{{ asset('images/' ~ page.photo ) }}" alt="cornel vaideanu profile" class="profile-picture">
        <div class="content">
            {{ page.description }}
        </div>
        <div class="clear"></div>
    </div>
 {% endblock %}